{% extends 'main.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock css %}
{% block content %}
{% if user.is_authenticated %}
    <h1>User logged in success</h1>
{% else %}
    <p>User is not logged in.</p>
    <!-- Display a message or login link for users who are not logged in -->
{% endif %}
<form action="{% url 'home' %}" method="post">
    {% csrf_token %}
    <label for="skill">What skill would you like to learn today : </label>
    <input type="text" name="choose_skill" hidden>
    <input type="text" placeholder="Search here ... " name="choosen_skill" id="skill" list="skills" >
    <datalist id="skills">
        {% for skill in skills %}
            <option value="{{ skill.name }}" >
        {% endfor %}
    </datalist>
    <button type="submit">Search</button>
</form>
{% endblock content %}