{% extends 'main.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock css %}
{% block content %}
{% if user.is_authenticated %}
<div id="profile">
    <p>Welcome, {{ user.username }}!</p>
    {% if not user.has_prof_pic %}
    <img src="{% static 'images/default-prof.jpg' %}" alt="not displayed" class="prof-img-display">
    {% else %}
    <img src="{{ user.prof_path }}" alt="" class="prof-img-display">
    {% endif %}
    <button id="update-prof-pic-button">Update profile picture</button>
        <form id="update-prof-pic-form" method="post" enctype="multipart/form-data" action="{% url 'profile' %}" style="display: none;" id="profilePicInput">
            {% csrf_token %}
            <input type="file" name="update_prof_pic" accept="images/*">
            <button type="submit">Submit</button>
        </form>
        <p id="fileSizeError" style="color: red; display: none;">File size exceeds the limit (250KB).</p>
    <h1>{{user.email}}</h1>
    <form id="update-password" method="post" action="{% url 'profile' %}">
        {% csrf_token %}
        <input type="text" name="reset_password"  hidden>
        <button type="submit">Update Password</button>
    </form>
    <h1 id="first_name_hide">{{user.first_name}}</h1>
        <button id="update-first-name-button">Update First Name</button>
            <form id="update-first-name-form" method="post" action="{% url 'profile' %}" style="display: none;">
                {% csrf_token %}
                <input type="text" name="update_first_name" value="{{ user.first_name }}">
                <button type="submit">Submit</button>
            </form>
    <h1 id="last_name_hide">{{user.last_name}}</h1>
        <button id="update-last-name-button">Update Last Name</button>
            <form id="update-last-name-form" method="post" action="{% url 'profile' %}" style="display: none;">
                {% csrf_token %}
                <input type="text" name="update_last_name" value="{{ user.last_name }}">
                <button type="submit">Submit</button>
            </form>
    <h1 id="user_bio_hide">{{user.userBio}}</h1>
        <button id="update-userBio-button">Update user Bio Name</button>
            <form id="update-userBio-form" method="post" action="{% url 'profile' %}" style="display: none;">
                {% csrf_token %}
                <textarea name="update_userBio" rows="4" maxlength="255" cols="10">{{ user.userBio }}</textarea>
                <button type="submit">Submit</button>
            </form>
    <!-- Display other user information here as needed -->
    <h1>Skills</h1>
    <!-- Show all skills user has -->
    <ul>
        {% for skill in user_skills %}
            <li> {{ skill.name }} </li>
        {% endfor %}
    </ul>
    <h2>Add skills</h2>
    <!-- Show all skills user dosent have  -->
    <form action="{% url 'profile' %}" method="post">
        <input type="text" name="add_skills_to_user" hidden>
        {% csrf_token %}
            {% for skill in skills_not_possessed %}
                <div>
                    <input type="checkbox" id="skill_{{ skill.id }}" name="skill_{{ skill.id }}" value="{{ skill.id }}">
                    <label for="skill_{{ skill.id }}">{{ skill.name }}</label>  
                </div>
            {% endfor %}
        <button type="submit">Add selected skills</button>
    </form>
</div>
{% else %}
    <p>User is not logged in.</p>
    <!-- Display a message or login link for users who are not logged in -->
{% endif %}
<script src="{% static 'js/home.js' %}"></script>
<script src="{% static 'js/profile.js' %}"></script>
{% endblock content %}