{% extends 'plain.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/verify.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
{% endblock css %}
{% block content %}
<div class="container">
    <h2>OTP Verification</h2>
    <p>Please enter the OTP sent to your email to verify your account:</p>
    <label for="otp">Enter OTP:</label>
    <input type="text" id="otp" name="otp" required>
    <label for="password">Enter new password:</label>
    <input type="password" id="password1" name="password1" required>
    <label for="password">Confirm Confirm password:</label>
    <input type="password" id="password2" name="password2" required>
</div>
<script>
    function verifyPassword(password) {
        const pattern = /^(?=.*[@#$%^&+=])(?=\S+$)/;
        const validity = { valid: true, error: "No error found" };

        if (!(password.length >= 8)) {
            validity.valid = false;
            validity.error = "Password must be at least 8 characters long";
            return validity;
        }

        if (pattern.test(password)) {
            return validity;
        } else {
            validity.valid = false;
            validity.error = "Must contain a special character like @,#,$,%,^,&,+ or = and must not contain spaces.";
            return validity;
        }
    }
    $('#otp').change(function () {
        let otp = $('#otp').val();
        let password1 = $('#password1').val();
        let password2 = $('#password2').val();
        if (otp == '{{otp}}') {
            $.ajax(
                {
                    type: 'POST',
                    url: '{% url "verifyOTP" %}',
                    data: { 'otp': otp },
                    success: function (data) {
                        console.log("OTP")
                        window.location.href = "/"
                    }

                }
            );
        } else {
            $.ajax(
                {
                    type: 'POST',
                    url: '{% url "verifyOTP" %}',
                    data: { 'otp': otp },
                    success: function (data) {
                        console.log("OTP")
                        window.location.href = "/profile"
                    }

                }
            );
        }
    })
</script>
{% endblock content %}